<%- include("partials/_header")  %>

<div class="container">
    <br>
    <div align="center"><img src="covid.jpg"></div>
    <!--
    <h4 style="text-align: center;">Project 2</h4>
    <h4 style="text-align: center;">Operating System 1</h4> 
    -->
    <h4 style="text-align: center;">June 2020</h4>
</div>

<%- include("partials/_footer")  %>